extends layout

block content

  div.gradient.bg-fadeout-gradient(style="width:200%;")

  script(type="text/javascript").
    var imgBG = new Image();
    imgBG.onload = function(){ setSquImg(this); };
    imgBG.src = '#{tmg_static_cdn}/web/bg/about.jpg?v=#{app_version}';
    document.getElementById('bg-static').appendChild(imgBG);

  div.container
    div.row.page-about
      div.col-lf.col-sm-4(style="padding-bottom:40px;")
        span.title-bracket(style="position:relative;left:0px;")= "["
        span.title-body= "THE COMPANY"
        span.title-bracket= "]"
      div.col-rt.col-sm-7.col-sm-offset-1(style="padding-bottom:40px;")
        span.title-bracket(style="margin-left:0%;position:relative;left:0px;")= "["
        span.title-body= "THE PEOPLE"
        span.title-bracket= "]"

    div.row.page-about(style="margin-top:0px;")
      div.col-lf.col-sm-4
        for item in data["company"]
          div.big-bracket= "["
          for itm, ind in item[0]
            p
              if (ind === 0)
                | <span class="company-name">TOTAL MEDIA GROUP — </span>
              if (itm.length == 0)
                br
              != itm


      div.col-rt.col-sm-7.col-sm-offset-1.team-members

        div.vertical-rule.tmg-trans-80

        for item, ind in data["team"]
          a.about-popup(href="javascript:TMG.fn.aboutPopup(true,'#{item[4]}')")
            div.team-member(style="clear:"+((ind === 3) ? "left" : "none")+";",id="team-member-#{item[4]}")
              img(src="#{tmg_static_cdn}/web/portraits/#{item[4]}-portrait.jpg?v=#{app_version}")
              span.team-name
                | #{item[0]}
              span.team-div= "|"
              span.team-title
                | #{item[1]}
              span.team-div= "|"
              div.team-email-bg
              a.team-email(target="_blank",href="mailto:#{item[3]}")
                i.fa.fa-envelope
              br
              div.team-body
                for itm in item[2]
                  p
                    | #{itm}
              div.team-more(onClick="TMG.fn.aboutTeamExpand(this)")
                span= "MORE"
                i.fa.fa-caret-down


          