extends layout

block content
  
  div.bg-slideshow.galleria-bg
    img(src="#{tmg_cdn}/img/misc/trans.gif",data-big="#{tmg_cdn}/img/bg/_about.jpg?v=#{app_version}")

  div.container
    div.row.page-about
      div.col-lf.col-sm-6
        p.header= "THE COMPANY"
        for item in data["company"]
          div.big-bracket= "["
          for itm, ind in item[0]
            p
              if (ind === 0)
                | <span class="company-name">TOTAL MEDIA GROUP</span> — 
              | #{itm}
          br
          br
          br
          for itm in item[1]
            | #{itm}
            br


      div.col-rt.col-sm-6
        p.header= "THE PEOPLE"
        for item in data["team"]
          div.team-member
            img(src="#{tmg_cdn}/img/team/#{item[4]}.jpg?v=#{app_version}")
            span.team-name
              | #{item[0]}
            span.team-div= "|"
            span.team-title
              | #{item[1]}
            span.team-div= "|"
            a.tmg-trans-linear.team-email(target="_blank",href="mailt:#{item[3]}")
              i.fa.fa-envelope
            br
            br
            for itm in item[2]
              p
                | #{itm}

          