extends layout

block content

  div.bg-slideshow.galleria-bg
    for item in data["background_images"]
      img(src="#{tmg_cdn}/img/misc/trans.gif",data-big="#{tmg_static_cdn}/web/slideshow/#{item[0]}.jpg?v=#{app_version}")

  div.home-rules.gradient.tmg-trans-0.tmg-unselectable

    div.rules-bg.radial-gradient
    div.home-rules-number-stretch.rule-number= "Rule #00"
    hr.rule-hr(style="top:5px;")
    div.home-rules-body-squeeze.rule-body
      span.brackets= "[ "
      span.rule-body-inner= "RULE"
      span.brackets= " ]"
    hr.rule-hr(style="top:-85px;")
    span.rule-footer= "HOW TO DO REALLY GREAT WORK"

