extends layout

block content

  div.bg-slideshow.galleria-bg
    for item in data["background_images"]
      img(src="data:image/gif;base64,R0lGODlhAQABAJAAAAAAAAAAACH5BAEUAAAALAAAAAABAAEAAAICRAEAOw==",data-big="#{tmg_static_cdn}/web/slideshow/#{item[0]}.jpg?v=#{app_version}")

  div.home-rules-buffer
  div.home-rules.tmg-trans-0.tmg-unselectable

    div.rules-bg.tmg-trans-80.gradient.radial-gradient
    div.home-rules-number-stretch.rule-number= "Rule #00"
    hr.rule-hr(style="top:-120px;")
    div.home-rules-body-squeeze.rule-body
      span.brackets= "[ "
      span.rule-body-inner= "RULE"
      span.brackets= " ]"
    hr.rule-hr(style="top:-210px;")
    span.rule-footer= "HOW TO DO REALLY GREAT WORK"

