extends layout

block content

  div.home-slideshow.galleria-bg
    for item in data["background_images"]
      img(src="#{tmg_cdn}/img/misc/trans.gif",data-big="#{tmg_cdn}/img/bg/#{item[0]}.jpg?v=#{app_version}")

  div.home-rules.tmg-unselectable
    script(type="text/javascript")
      | var tmgRules=[];
      for item in data["tmg_rules"]
        | tmgRules[#{data["tmg_rules"].indexOf(item)}]={num:#{data["tmg_rules"].indexOf(item)+1},rule:'#{item[0].replace(/'/g,"\\'")}',motto:'#{item[1]}'};

    span.rule-number= "Rule #00"
    br
    div.rule-body
      span.brackets= "[ "
      span.rule-body-inner= "RULE"
      span.brackets= " ]"
    br
    span.rule-footer= "HOW TO DO REALLY GREAT WORK"

