extends layout

block content

  div.bg-slideshow.galleria-bg
    for item in data["background_images"]
      img(src="#{tmg_cdn}/img/misc/trans.gif",data-big="#{tmg_cdn}/img/bg/#{item[0]}.jpg?v=#{app_version}")

  div.home-rules.gradient.tmg-unselectable
    script(type="text/javascript")
      | var tmgRules=[], tmgCurrentRule=0;
      for item in data["tmg_rules"]
        | tmgRules[#{data["tmg_rules"].indexOf(item)}]={num:#{data["tmg_rules"].indexOf(item)+1},rule:'#{item[0].replace(/'/g,"\\'")}',motto:'#{item[1]}'};
    div.rules-bg.radial-gradient
    div.home-rules-number-stretch.rule-number= "Rule #00"
    hr.rule-hr(style="top:5px;")
    div.home-rules-body-squeeze.rule-body
      span.brackets= "[ "
      span.rule-body-inner= "RULE"
      span.brackets= " ]"
    hr.rule-hr(style="top:-85px;")
    span.rule-footer= "HOW TO DO REALLY GREAT WORK"

