doctype 1.1
html(lang="en")

  head
    title= current_page[3]
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui=yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="title", content="Total Media Group")
    meta(name="description", content="Total Media Group")
    meta(name="image", content="")
    link(rel='shortcut icon', href='#{tmg_cdn}/img/logo/logo-square-trans.32.png')
    link(rel='apple-touch-icon', href='#{tmg_cdn}/img/logo/logo-square-trans.128.png')
    link(rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/bootstrap/3.1.1/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/bootstrap/3.1.1/css/bootstrap-theme.css')
    link(id='font-awesome-4', rel='stylesheet', type='text/css', href='#{bootstrap_cdn}/font-awesome/4.0.3/css/font-awesome.min.css')
    script(type='text/javascript', src='#{cdnjs_cdn}/modernizr/2.6.2/modernizr.min.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/css3-mediaqueries/0.1/css3-mediaqueries.js')
    | <!--[if lt IE 9]> <script type="text/javascript" src="#{tmg_vendor_cdn}/html5shiv/3.7.0/html5shiv.js"></script> <![endif]-->
    | <!--[if lt IE 9]> <script type="text/javascript" src="#{tmg_vendor_cdn}/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
    link(rel='stylesheet', type='text/css', href='#{tmg_direct}/font/fonts.css?v=#{app_version}')
    link(rel='stylesheet', type='text/css', href='#{tmg_vendor_cdn}/jquery-isotope/1.5.26/jquery.isotope.css')
    link(rel='stylesheet', type='text/css', href='#{tmg_direct}/css/tmg-main.css?v=#{app_version}')
    script(type='text/javascript', src='#{tmg_cdn}/js/tmg-preload.js?v=#{app_version}')
    link(rel='stylesheet', type='text/css', href='#{tmg_direct}/css/tmg-tablet.css?v=#{app_version}', media='all and (max-device-width: 1024px)')
    link(rel='stylesheet', type='text/css', href='#{tmg_direct}/css/tmg-tablet-portrait.css?v=#{app_version}', media='all and (max-device-width: 1024px) and (orientation:portrait)')
    link(rel='stylesheet', type='text/css', href='#{tmg_direct}/css/tmg-mobile.css?v=#{app_version}', media='all and (max-device-width: 640px)')
    link(rel='stylesheet', type='text/css', href='#{tmg_direct}/css/tmg-mobile-portrait.css?v=#{app_version}', media='all and (max-device-width: 640px) and (orientation:portrait)')
  
    script(type="text/javascript")
      | var tmgRules=[], tmgCurrentRule=0, tmgBackgrounds=[], tmgCurrentBg=0;
      for item in data["tmg_rules"]
        | tmgRules.push({num:#{item[3]},rule:'#{item[0].replace(/'/g,"\\'")}',motto:'#{item[1]}',img:'#{item[2]}',lineLength:'#{item[4]}'});
      for item in data["background_images"]
        | tmgBackgrounds.push('#{item[0].replace(/'/g,"\\'")}');
      | tmgRules.sort(randomSort); tmgBackgrounds.sort(randomSort); arrayShuffle(tmgRules); arrayShuffle(tmgBackgrounds); 
  
  body(id="body-#{current_page[0]}",class="body-#{current_page[0]}")
    
    div.tmg-thmb.bg-static#bg-static

    //-div.vid-static#vid-static

    //-div.header-corner.header-corner-lf
    //-div.header-corner.header-corner-rt

    div.container.tmg-popup-container.tmg-trans-0
      div.tmg-popup
        div.tmg-popup-lf
        div.tmg-popup-rt
        a(href="javascript:TMG.fn.aboutPopup(false)")
          div.tmg-popup-x
            img(src="#{tmg_cdn}/img/misc/x-white.png?v=#{app_version}")
    div.tmg-popup-bg.tmg-trans-0(onClick="TMG.fn.aboutPopup(false)")
    div.tmg-popup-navbar-blocker

    div.back-to-menu#back-to-menu(onMouseOver="document.getElementById('back-to-menu-icon').src='#{tmg_cdn}/img/misc/category-grid-red.png?v=#{app_version}'",onMouseOut="document.getElementById('back-to-menu-icon').src='#{tmg_cdn}/img/misc/category-grid-white.png?v=#{app_version}'")
      a#back-to-menu-link(href="/work")
        img#back-to-menu-icon(src="#{tmg_cdn}/img/misc/category-grid-white.png")
        span.non-mobile-only#back-to-menu-label= "BACK TO MENU"

    div.page-video-scroll
      div.video-bttn.tmg-unselectable.video-prev
        a#video-prev-link(href="../work")
          img(src="#{tmg_cdn}/img/misc/arrow-left-red.png?v=#{app_version}")
      div.video-bttn.tmg-unselectable.video-next
        a#video-next-link(href="../work")
          img(src="#{tmg_cdn}/img/misc/arrow-right-red.png?v=#{app_version}")

    div.tmg-body-cover#tmg-body-cover
    
    div.container#tmg-container
      div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        div.container
          div.navbar-header
            a.tmg-unselectable.navbar-brand(href="/")
              img.logo(src="#{tmg_cdn}/img/logo/masthead-creative.large.png?v=#{app_version}")
          ul.nav.navbar-nav.pull-left.tmg-unselectable
            for item in nav_items
              if (item[4])
                li.pull-left(id="navbar-#{item[0]}")
                  if ((current_page[0] === "work") && (item[0] === "work"))
                    a.hover-trans-67(href="#*")= item[1]
                  else
                    a.hover-trans-67(href="#{item[2]}")= item[1]

          div.social-buttons
            a(href="https://www.facebook.com/pages/Total-Media-Group-Inc/388304704588058",target="_blank")
              i.fa.fa-facebook-square
            a(href="https://www.linkedin.com/company/total-media-group",target="_blank")
              i.fa.fa-linkedin-square
            a(href="mailto:info@tmgcreative.tv",target="_blank")
              i.fa.fa-envelope

      block content

    div.footer#footer
      div.container
        a.footer-logo(href="/")
          img(src="#{tmg_cdn}/img/logo/masthead-creative.large.png?v=#{app_version}")
        div.vertical-rule.tmg-trans-33.vertical-rule-logo
        div.footer-address
          p= "432 NORTH CANAL STREET SUITE 12"
          p= "SOUTH SAN FRANCISCO, CA, 94080"
          p!= "<span style='margin-right:15px;'>P-650-583-8236</span> F-650-583-4708"
          div.social-buttons
            a(href="https://www.facebook.com/pages/Total-Media-Group-Inc/388304704588058",target="_blank")
              i.fa.fa-facebook-square
            a(href="https://www.linkedin.com/company/total-media-group",target="_blank")
              i.fa.fa-linkedin-square
            a(href="mailto:info@tmgcreative.tv",target="_blank")
              i.fa.fa-envelope
        div.home-rules.footer-rules(onClick="TMG.incrementFooterRule()")
          div.rule-image
          div.home-rules-number-stretch.rule-number= "Rule #00"
          hr.rule-hr.tmg-trans-80(style="top:-142px;")
          div.home-rules-body-squeeze.rule-body
            span.brackets= "[ "
            span.rule-body-inner= "RULE"
            span.brackets= " ]"
          hr.rule-hr.tmg-trans-80(style="top:-201px;")
          span.rule-footer= "HOW TO DO REALLY GREAT WORK"
    
    script(type='text/javascript', src='#{googlelibs_cdn}/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/transit.js/0.9.9/jquery.transit.min.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/browser-detect/browser-detect.min.js')
    //-script(type='text/javascript', src='#{tmg_vendor_cdn}/velocity.js/jquery.velocity.min.js')
    //-script(type='text/javascript', src='#{tmg_vendor_cdn}/jquery-migrate/1.1.1/jquery-migrate.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/flowtype.js/1.1/flowtype.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/jquery-animate-scroll/1.0.5/animatescroll.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/jquery-isotope/1.5.26/jquery.isotope.min.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/jquery-bbq/1.2.1/jquery.ba-bbq.min.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/string.js/string.min.js')
    script(type='text/javascript', src='#{tmg_vendor_cdn}/transit.js/0.9.9/jquery.transit.min.js')
    script(type='text/javascript', src='#{tmg_cdn}/js/tmg-main.js?v=#{app_version}')

    script(type='text/javascript').
      TMG.currentPage = "#{current_page[0]}"; TMG.cdn.tmg = "#{tmg_cdn}"; TMG.cdn.bootstrap = "#{bootstrap_cdn}"; TMG.cdn.cdnJs = "#{cdnjs_cdn}"; TMG.cdn.tmgVendor = "#{tmg_vendor_cdn}"; TMG.cdn.tmgStatic = "#{tmg_static_cdn}"; TMG.cdn.videoJs = "#{videojs_cdn}"; TMG.social.addThis.pubId = "#{addthis_pubid}"; TMG.nodeEnv = "#{node_env}"; TMG.appVersion = "#{app_version}";

    if (node_env == "production")
      script(type='text/javascript').
        window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",window.analytics.load("#{segment_io_client_id}");window.analytics.page();

    div#tmg-disclaimer-mobile
      img.tmg-unselectable.logo(src="#{tmg_cdn}/img/logo/masthead-creative.large.png?v=#{app_version}")
      p
        span.num1="Please rotate your device to view the page."
      p
        span.num2="Currently, this site can only be viewed on mobile devices that are horizontally-oriented (landscape mode)."
      p
        span.num3="Thank you!"
