extends layout

block content

  div.bg-static
    img(src="#{tmg_cdn}/img/bg/_about.jpg?v=#{app_version}")

  div.container
    div.row.page-work
      div.col-lg-12
        for v,i in data["video"]
          a(href="work/#{v['id']}")
            div.video-browser-box.element.lanthanoid.metal.inner-transition(data-category="lanthanoid")
              img(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_menu']}.jpg?v=#{app_version}")
              div.meta
                p
                  | <span class="red">TITLE:</span> <span class="value">#{v["title"]}</span>
                p
                  | <span class="red">CLIENT:</span> <span class="value">#{v["client"]}</span>
              p.one_liner
                | #{v["one_liner"]}<br /><br />#{i+1}
              