extends layout

block content

  div.bg-slideshow.galleria-bg
    for item in data["background_images"]
      img(src="data:image/gif;base64,R0lGODlhAQABAJAAAAAAAAAAACH5BAEUAAAALAAAAAABAAEAAAICRAEAOw==",data-big="#{tmg_static_cdn}/web/slideshowpredarkened/#{item[0]}.jpg?v=#{app_version}")

  div.bg-corner-darkener.gradient.radial-gradient

  div.container
    div.row.page-work-nav
      div.col-lg-12

        ul.nav.navbar-nav
          a(href="#*")
            img.navbar-category-icon(src="#{tmg_cdn}/img/misc/category-grid-white.png",onMouseOver="this.src='#{tmg_cdn}/img/misc/category-grid-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/category-grid-white.png?v=#{app_version}'")
          li
            a(class="filter-featured",href="#featured")
              | FEATURED
          li
            a(class="filter-reels",href="#reels")
              | TMG REELS
          li
            a(class="filter-media",href="#media")
              | MEDIA
          li
            a(class="filter-events",href="#events")
              | EVENTS
          li(style="border-right:none")
            a(class="filter-design",href="#design")
              | DESIGN

    div.row.page-work
      div.col-lg-12
      
        for v,i in data["work"]
          a(href="work/#{v['id']}")
            div(class="video-browser-box #{v['categories'].join(' ')}")
              div.browser-box-bg
              if (v['image_menu'].length > 0)
                img.video-thmb(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_menu']}.jpg?v=#{app_version}")
              else
                img.video-thmb(src="#{tmg_cdn}/img/misc/video-thmb-bg.png")
              div.meta
                p
                  | <span class="red">TITLE:</span> <span class="value">#{v["title"]}</span>
                if (!v['hide_client_on_menu'])
                  p
                    | <span class="red">CLIENT:</span> <span class="value">#{v["client"]}</span>
              p.one-liner
                | #{v["one_liner"]}
              