extends layout

block content

  div.bg-slideshow.galleria-bg
    for item in data["background_images"]
      img(src="data:image/gif;base64,R0lGODlhAQABAJAAAAAAAAAAACH5BAEUAAAALAAAAAABAAEAAAICRAEAOw==",data-big="#{tmg_static_cdn}/web/slideshow/#{item[0]}.jpg?v=#{app_version}")

  div.bg-corner-darkener.radial-gradient

  div.container
    div.row.page-work-nav
      div.col-lg-12
        div.page-work-bg.bg-vertical-bar-gradient
        ul.nav.navbar-nav
          span(data-href="#",onClick="TMG.fn.work.filterVideos('reset')")
            img.navbar-category-icon(src="#{tmg_cdn}/img/misc/category-grid-white.png",onMouseOver="this.src='#{tmg_cdn}/img/misc/category-grid-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/category-grid-white.png?v=#{app_version}'")
          li
            span(class="filter-featured",data-href="#featured",onClick="TMG.fn.work.filterVideos('featured')")
              | FEATURED
          li
            span(class="filter-reels",vhref="#reels",onClick="TMG.fn.work.filterVideos('reels')")
              | TMG REELS
          li
            span(class="filter-media",data-href="#media",onClick="TMG.fn.work.filterVideos('media')")
              | MEDIA
          li
            span(class="filter-events",data-href="#events",onClick="TMG.fn.work.filterVideos('events')")
              | EVENTS
          li(style="border-right:none")
            span(class="filter-design",data-href="#design",onClick="TMG.fn.work.filterVideos('design')")
              | DESIGN

    div.row.page-work
      div.col-lg-12
        div.page-work-bg.bg-vertical-bar-gradient
        for v,i in data["video"]
          a(href="work/#{v['id']}")
            div(class="video-browser-box #{v['categories'].join(' ')}")
              div.browser-box-bg
              if (v['image_menu'].length > 0)
                img.video-thmb(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_menu']}.jpg?v=#{app_version}")
              else
                img.video-thmb(src="#{tmg_cdn}/img/misc/video-thmb-bg.png")
              div.meta
                p
                  | <span class="red">TITLE:</span> <span class="value">#{v["title"]}</span>
                p
                  | <span class="red">CLIENT:</span> <span class="value">#{v["client"]}</span>
              p.one-liner
                | #{v["one_liner"]}
              