extends layout

block content

  div.bg-fadeout-gradient

  for v,v_index in data["video"]
    if (v["id"] === url_params["video_id"])
      style(type="text/css")= '.bg-static { left:-'+v['image_background_xy_position'][0]+'%;top:-'+v['image_background_xy_position'][1]+'%; };'
      div.bg-static
        img(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_background']}.jpg?v=#{app_version}")

      div.container.page-video
        div.row
          div.col-lf.video-player-box.col-sm-6
            div.video-player(data-video-id="#{v['id']}",data-video-poster="#{v['image_poster']}",data-video-sd="#{v['video'][1][0]}",data-video-hd="#{v['video'][1][1]}")
              img.aspect-ratio(src="#{tmg_cdn}/img/misc/16x9.16.gif")
              img.bracket(src="#{tmg_cdn}/img/misc/bracket-red.png")
              img.poster-frame(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_poster']}.jpg?v=#{app_version}")
              div.video-bttn
                img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play.png?v=#{app_version}'")
                div.tmg-trans-50.radial-gradient

            div.page-video-scroll
              div.video-bttn.tmg-unselectable.video-scroll(onClick="$(this).animatescroll()")
                img(src="#{tmg_cdn}/img/misc/arrow-down-red.png?v=#{app_version}")
                div.tmg-trans-50.radial-gradient
                div.down-label= "MORE"
              if (data['video'][(v_index-1)] != null)
                a(href="../work/#{data['video'][(v_index-1)]['id']}")
                  div.video-bttn.tmg-unselectable.video-prev
                    img(src="#{tmg_cdn}/img/misc/arrow-left-red.png?v=#{app_version}")
              if (data['video'][(v_index+1)] != null)
                a(href="../work/#{data['video'][(v_index+1)]['id']}")
                  div.video-bttn.tmg-unselectable.video-next
                    img(src="#{tmg_cdn}/img/misc/arrow-right-red.png?v=#{app_version}")

          div.col-lf.col-sm-6
            div.primary-title
              | <span style="color:#ff0000;">#{v["client"]}</span> — 
              | #{v["title"]}
            div.primary-body
              for itm, ind in v["primary_text"]
                p
                  != itm
                  if (itm.length == 0)
                    br

            if (v["production_roles"].length > 0)
              div.tmg-trans-90.production-roles
                img.bracket(src="#{tmg_cdn}/img/misc/bracket-gray.png?v=#{app_version}")
                for itm, ind in v["production_roles"]
                  p
                    = itm


        if (v["secondary_box_color"] !== "")
          style(type="text/css")
            | .clmn-lf-tp { background-color:##{v["secondary_box_color"]} !important; border-color:##{v["secondary_box_color"]} !important; } .clmn-lf-bg { background-color:##{v["secondary_box_color"]} !important; }


        span(class="video-bttm-secondary-layout-#{v['secondary_layout']}")
          
          div.row.page-video-bttm
            div.col-lf.col-sm-4.clmn-lf
              if (v["secondary_text"].length > 0)
                div.clmn-lf-tp
                  for itm, ind in v["secondary_text"]
                    p
                      != itm
                      if (itm.length == 0)
                        br
              
              if ((v['secondary_layout'] == 'standard') && (v['secondary_content'][2]['image'].length > 0))
                div(class="tmg-thmb clmn-lf-bt clmn-lf-bt-below-#{v['secondary_text'].length} video-player", data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][2]['video']}",data-video-hd="#{v['secondary_content'][2]['video']}")
                  div.fader-block(onClick="TMG.fn.video.ended();")
                  if (v['secondary_content'][2]['video'].length > 0)
                    div.video-bttn
                      img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play.png?v=#{app_version}'")
                      div.tmg-trans-50.radial-gradient

                  if (v['secondary_content'][2]['title'].length > 0)
                    div.secondary-title
                      span
                        | #{v['secondary_content'][2]['title']}
                      div.radial-gradient
                  if (v["secondary_text"].length > 0)
                    img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][2]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this)")
              else
                div.clmn-lf-bg
            if ((v['secondary_layout'] == 'corner') || (v['secondary_content'][1]['image'].length == 0))
              div.col-lf.tmg-thmb.col-sm-8.clmn-md.video-player(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][0]['video']}",data-video-hd="#{v['secondary_content'][0]['video']}")
                if (v['secondary_content'][0]['video'].length > 0)
                  div.video-bttn
                    img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play.png?v=#{app_version}'")
                    div.tmg-trans-50.radial-gradient
                if (v['secondary_content'][0]['title'].length > 0)
                  div.secondary-title
                    span
                      | #{v['secondary_content'][0]['title']}
                    div.radial-gradient
                img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][0]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this)")
                div.fader-block(onClick="TMG.fn.video.ended();")

            if ((v['secondary_layout'] == 'standard') && (v['secondary_content'][1]['image'].length > 0))
              div.col-lf.tmg-thmb.col-sm-4.clmn-md.video-player(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][0]['video']}",data-video-hd="#{v['secondary_content'][0]['video']}")
                if (v['secondary_content'][0]['video'].length > 0)
                  div.video-bttn
                    img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play.png?v=#{app_version}'")
                    div.tmg-trans-50.radial-gradient
                if (v['secondary_content'][0]['title'].length > 0)
                  div.secondary-title
                    span
                      | #{v['secondary_content'][1]['title']}
                    div.radial-gradient
                img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][0]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this)")
                div.fader-block(onClick="TMG.fn.video.ended();")

              div.col-lf.tmg-thmb.col-sm-4.clmn-rt.video-player(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][1]['video']}",data-video-hd="#{v['secondary_content'][1]['video']}")
                if (v['secondary_content'][1]['video'].length > 0)
                  div.video-bttn
                    img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play.png?v=#{app_version}'")
                    div.tmg-trans-50.radial-gradient
                if (v['secondary_content'][1]['title'].length > 0)
                  div.secondary-title
                    span
                      | #{v['secondary_content'][1]['title']}
                    div.radial-gradient
                img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][1]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this)")
                div.fader-block(onClick="TMG.fn.video.ended();")

          if (v['secondary_layout'] == 'corner')
            if ((v['secondary_content'][1]['image'].length > 0) && (v['secondary_content'][2]['image'].length > 0))
              div.row.page-video-bttm.page-video-bttm-row-2
                
                div.col-lf.tmg-thmb.col-sm-4.clmn-md.video-player(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][2]['video']}",data-video-hd="#{v['secondary_content'][2]['video']}")
                  if (v['secondary_content'][2]['video'].length > 0)
                    div.video-bttn
                      img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play.png?v=#{app_version}'")
                      div.tmg-trans-50.radial-gradient
                  if (v['secondary_content'][2]['title'].length > 0)
                    div.secondary-title
                      span
                        | #{v['secondary_content'][2]['title']}
                      div.radial-gradient
                  img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][2]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this)")
                  div.fader-block(onClick="TMG.fn.video.ended();")

                div.col-lf.tmg-thmb.col-sm-8.clmn-rt.video-player(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][1]['video']}",data-video-hd="#{v['secondary_content'][1]['video']}")
                  if (v['secondary_content'][1]['video'].length > 0)
                    div.video-bttn
                      img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play.png?v=#{app_version}'")
                      div.tmg-trans-50.radial-gradient
                  if (v['secondary_content'][1]['title'].length > 0)
                    div.secondary-title
                      span
                        | #{v['secondary_content'][1]['title']}
                      div.radial-gradient
                  img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][1]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this)")
                  div.fader-block(onClick="TMG.fn.video.ended();")

            else if (v['secondary_content'][1]['image'].length > 0)
              div.row.page-video-bttm.page-video-bttm-row-2
                div.col-lf.tmg-thmb.col-sm-12.clmn-md.video-player(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][1]['video']}",data-video-hd="#{v['secondary_content'][1]['video']}")
                  if (v['secondary_content'][1]['video'].length > 0)
                    div.video-bttn
                      img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play.png?v=#{app_version}'")
                      div.tmg-trans-50.radial-gradient
                  if (v['secondary_content'][1]['title'].length > 0)
                    div.secondary-title
                      span
                        | #{v['secondary_content'][1]['title']}
                      div.radial-gradient
                  img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][1]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this)")
                  div.fader-block(onClick="TMG.fn.video.ended();")





            