extends layout

block content

  div.bg-fadeout-gradient

  for v in data["video"]
    if (v["id"] === url_params["video_id"])

      div.bg-static
        img(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_background']}.jpg?v=#{app_version}")

      div.container.page-video
        div.row
          div.col-lf.video-player-box.col-sm-6
            div.video-player(style="background:url(#{tmg_static_cdn}/video/#{v['id']}/#{v['image_poster']}.jpg?v=#{app_version});")
              img.aspect-ratio(src="#{tmg_cdn}/img/misc/16x9.16.gif")
              img.bracket(src="#{tmg_cdn}/img/misc/bracket-red.png")
          div.col-lf.col-sm-6
            div.primary-title
              | <span style="color:#ff0000;">#{v["client"]}</span> — 
              | #{v["title"]}
            div.primary-body
              for itm, ind in v["primary_text"]
                p
                  | #{itm}
            div.production-roles
              img.bracket(src="#{tmg_cdn}/img/misc/bracket-gray.png?v=#{app_version}")
              for itm, ind in v["production_roles"]
                p
                  | #{itm}

        div.row.page-video-scroll
          div.col-lf.col-sm-6
            div.video-bttn.video-scroll(onClick="$('.page-video-bttm').animatescroll()")
              img(src="#{tmg_cdn}/img/misc/arrow-down-red.png?v=#{app_version}")
              div.tmg-trans-50.radial-gradient
            div.video-bttn.video-prev
              img(src="#{tmg_cdn}/img/misc/arrow-left-red.png?v=#{app_version}")
              div.tmg-trans-50.radial-gradient
            div.video-bttn.video-next
              img(src="#{tmg_cdn}/img/misc/arrow-right-red.png?v=#{app_version}")
              div.tmg-trans-50.radial-gradient
          div.col-lf.col-sm-6

        if (v["secondary_box_color"] !== "")
          style(type="text/css")
            | .clmn-lf-tp { background-color:##{v["secondary_box_color"]} !important; }

        if (v['secondary_layout'] == 'standard')
          div(class="row page-video-bttm secondary-layout-#{v['secondary_layout']}")
            div.col-lf.col-sm-4.clmn-lf
              div.clmn-lf-tp
                for itm, ind in v["secondary_text"]
                  p
                    | #{itm}
              div.tmg-thmb.clmn-lf-bt
                div.video-bttn
                  img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}")
                  div.tmg-trans-50.radial-gradient
                img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][0]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this,'wd')")
            div.col-lf.tmg-thmb.col-sm-4.clmn-md
              div.video-bttn
                img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}")
                div.tmg-trans-50.radial-gradient
              img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][1]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this,'ht')")
            div.col-lf.tmg-thmb.col-sm-4.clmn-rt
              div.video-bttn
                img(src="#{tmg_cdn}/img/misc/play.png?v=#{app_version}")
                div.tmg-trans-50.radial-gradient
              img.video-frame-secondary(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][2]['image']}.jpg?v=#{app_version}",onLoad="setSquImg(this,'ht')")


            