extends layout

block content

  div.bg-corner-darkener.gradient.radial-gradient.tmg-trans-67

  div.container
    div.row.page-work-nav
      div.col-lg-12

        ul.nav.navbar-nav.pull-left

          img.non-mobile-only.navbar-category-icon(src="#{tmg_cdn}/img/misc/category-grid-white.png")
          li.pull-left
            a(class="filter-featured",href="#featured",onClick="TMG.incrementFooterRule()")
              | FEATURED
          li.pull-left
            a(class="filter-reels",href="#reels",onClick="TMG.incrementFooterRule()")
              | TMG REELS
          li.pull-left
            a(class="filter-media",href="#media",onClick="TMG.incrementFooterRule()")
              | MEDIA
          li.pull-left
            a(class="filter-events",href="#events",onClick="TMG.incrementFooterRule()")
              | EVENTS
          li.pull-left
            a(class="filter-design",href="#design",onClick="TMG.incrementFooterRule()")
              | DESIGN
          li.pull-left
            a(class="filter-all",href="#*",onClick="TMG.incrementFooterRule()")
              | <span class="mobile-only">ALL</span><span class="non-mobile-only">ALL WORK</span>

          li.pull-left(style="border-right:none")
            a(class="filter-search",onClick="TMG.fn.workSearch(true)")
              label.work-search-label(for="work-search")
                | SEARCH
                i.fa.fa-search(style="padding-left:8px;")
          li.pull-left(style="border-right:none")
            input.tmg-trans-0.work-search(type="text",name="work-search",id="work-search",onBlur="TMG.fn.workSearchFocus(false)",onFocus="TMG.fn.workSearchFocus(true)")
            div.tmg-trans-0.work-search-clear
              i.fa.fa-times(onClick="TMG.fn.workSearch(false);window.location.hash='#*';$(window).trigger('hashchange');")
              
          
          

    div.row.page-work
      div.col-lg-12
      
        for v,i in data["work"]
          a(href="work/#{v['id']}")
            div(class="video-browser-box #{v['categories'].join(' ').toLowerCase()}", id="video-browser-box-#{v['id'].toLowerCase()}", data-title="#{v['title'].toLowerCase()}", data-one-liner="#{v['one_liner'].toLowerCase()}", data-primary-text="#{v['primary_text'].join(' ').toLowerCase()}", data-secondary-text="#{v['secondary_text'].join(' ').toLowerCase()}", data-misc="#{v['keywords'].join(' ').toLowerCase()} #{v['client_menu'].toLowerCase()} #{v['client_page'].toLowerCase()} #{v['production_roles'].join(' ').toLowerCase()} #{v['categories'].join(' ').toLowerCase()}", data-sort="0")
              div.browser-box-bg
              if (v['image_menu'].length > 0)
                img.video-thmb(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_menu']}.jpg?v=#{app_version}")
              else
                img.video-thmb(src="#{tmg_cdn}/img/misc/video-thmb-bg.png")
              div.meta
                p
                  | <span class="red">TITLE:</span> <span class="value">#{v["title"]}</span>
                if (!v['hide_client_on_menu'])
                  p
                    | <span class="red">CLIENT:</span> <span class="value">#{v["client_menu"]}</span>
              p.one-liner
                span
                  | #{v["one_liner"]}
              