extends layout

block content

  for v,v_index in data["work"]
    if (v["id"] === url_params["video_id"])

      script(type="text/javascript").
        document.getElementById('back-to-menu-label').innerHTML='back to #{v['categories'][0]}'; document.getElementById('back-to-menu-link').href='/work##{v['categories'][0]}';


      if (data['work'][(v_index-1)] != null)
        script(type="text/javascript").
          document.getElementById('video-prev-link').href='../work/#{data['work'][(v_index-1)]['id']}';
      else
        script(type="text/javascript").
          document.getElementById('video-prev-link').style.display='none';
      if (data['work'][(v_index+1)] != null)
        script(type="text/javascript").
          document.getElementById('video-next-link').href='../work/#{data['work'][(v_index+1)]['id']}';
      else
        script(type="text/javascript").
          document.getElementById('video-next-link').style.display='none';

      if ((v['categories'].length > 0) && (v['categories'][0] === 'design'))

        script(type="text/javascript").
          document.getElementById('body-work-single').style.backgroundColor='white'; document.getElementById('tmg-body-cover').style.backgroundColor='white'; var backToMenu = document.getElementById('back-to-menu'); /*backToMenu.style.top='156px';*/ backToMenu.onmouseout=function(){document.getElementById('back-to-menu-icon').src='#{tmg_cdn}/img/misc/category-grid-gray.png?v=#{app_version}';}; document.getElementById('back-to-menu-icon').src='#{tmg_cdn}/img/misc/category-grid-gray.png?v=#{app_version}'; backToMenu.className = backToMenu.className+' back-to-menu-gray';

        div.container.page-design
          div.row
            div.col-lg-12
              div.page-design-header-bg
              div.page-design-header-text
                | <span style="color:#ff0000;">#{v["client"]}</span> — 
                | #{v["title"]}
          div.row
            div.col-lg-12

              div.page-design-image(style="padding-top:#{v['design_page']['image_background']['top_padding_pixels']}px;")
                
                img.tmg-unselectable(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_background']}.jpg?v=#{app_version}",style="margin-bottom:#{v['design_page']['image_background']['bottom_padding_pixels']}px;width:#{v['design_page']['image_background']['width_percent']}%;left:#{((100-parseInt(v['design_page']['image_background']['width_percent']))/2)}%;border:solid #{(Boolean(v['design_page']['image_background']['show_black_border'])) ? '1' : '0'}px black;")
                
                div.primary-body(style="left:#{v['design_page']['primary_text']['left_percent']}%;top:#{v['design_page']['primary_text']['top_percent']}%;width:#{v['design_page']['primary_text']['width_percent']}%;padding-top:#{v['design_page']['image_background']['top_padding_pixels']}px;padding-bottom:#{v['design_page']['image_background']['bottom_padding_pixels']}px;border:solid #{(Boolean(v['design_page']['primary_text']['show_black_border'])) ? '1' : '0'}px black;")
                  for itm, ind in v["primary_text"]
                    p
                      != itm
                      if (itm.length == 0)
                        br

      else
        
        div.gradient.bg-fadeout-gradient

        script(type="text/javascript").
          var secImgBG = new Image(); secImgBG.onload = function(){ bgStaticResize(this,#{v['image_background_xy_position'][0]},#{v['image_background_xy_position'][1]}); }; secImgBG.src = '#{tmg_static_cdn}/video/#{v['id']}/#{v['image_background']}.jpg?v=#{app_version}'; if (secImgBG.complete) { bgStaticResize(secImgBG,#{v['image_background_xy_position'][0]},#{v['image_background_xy_position'][1]}); } document.getElementById('bg-static').appendChild(secImgBG); document.getElementById('bg-static').style.left='-#{v['image_background_xy_position'][0]}%'; document.getElementById('bg-static').style.top='-#{v['image_background_xy_position'][1]}%';

        div.container.page-video
          div.row
            div.col-lf.video-player-box.col-sm-6

              div.primary-title.mobile-only
                | <span style="color:#ff0000;">#{v["client"]}</span> — 
                | #{v["title"]}

              div.video-player(data-video-id="#{v['id']}",data-video-poster="#{v['image_poster']}",data-video-sd="#{v['video'][1][0]}",data-video-hd="#{v['video'][1][1]}")
                img.aspect-ratio(src="#{tmg_cdn}/img/misc/16x9.16.gif")
                img.bracket(src="#{tmg_cdn}/img/misc/bracket-red.png")
                img.poster-frame(src="#{tmg_static_cdn}/video/#{v['id']}/#{v['image_poster']}.jpg?v=#{app_version}")
                div.video-bttn
                  img(src="#{tmg_cdn}/img/misc/play-white.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play-white.png?v=#{app_version}'")
                  div.tmg-trans-50.gradient.radial-gradient

              div.page-video-scroll.non-mobile-only
                div.video-bttn.tmg-unselectable.video-scroll(onClick="$(this).animatescroll()")
                  img(src="#{tmg_cdn}/img/misc/arrow-down-red.png?v=#{app_version}")
                  //- div.tmg-trans-50.gradient.radial-gradient
                  div.down-label= "MORE"

            div.col-lf.col-sm-6
              div.primary-title.non-mobile-only
                | <span style="color:#ff0000;">#{v["client"]}</span> — 
                | #{v["title"]}
              div.primary-body
                for itm, ind in v["primary_text"]
                  p
                    != itm
                    if (itm.length == 0)
                      br

              if (v["production_roles"].length > 0)
                div.tmg-trans-90.production-roles
                  img.bracket(src="#{tmg_cdn}/img/misc/bracket-gray.png?v=#{app_version}")
                  for itm, ind in v["production_roles"]
                    p
                      = itm

              div.page-video-scroll.mobile-only
                div.video-bttn.tmg-unselectable.video-scroll(onClick="$(this).animatescroll()")
                  img(src="#{tmg_cdn}/img/misc/arrow-down-red.png?v=#{app_version}")
                  //- div.tmg-trans-50.gradient.radial-gradient
                  div.down-label= "MORE"


          if (v["secondary_box_color"] !== "")
            style(type="text/css")
              | .clmn-lf-tp { background-color:##{v["secondary_box_color"]} !important; border-color:##{v["secondary_box_color"]} !important; } .clmn-lf-bg { background-color:##{v["secondary_box_color"]} !important; }


          span(class="video-bttm-secondary-layout-#{v['secondary_layout']}")
            
            div.row.page-video-bttm
              div.col-lf.col-sm-4.clmn-lf
                if (v["secondary_text"].length > 0)
                  div.clmn-lf-tp
                    for itm, ind in v["secondary_text"]
                      p
                        != itm
                        if (itm.length == 0)
                          br
                
                if ((v['secondary_layout'] == 'standard') && (v['secondary_content'][2]['image'].length > 0))
                  div#video-frame-secondary-a(class="tmg-thmb clmn-lf-bt clmn-lf-bt-below-#{v['secondary_text'].length} video-player", data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][2]['video']}",data-video-hd="#{v['secondary_content'][2]['video']}")
                    div.fader-block(onClick="TMG.fn.video.ended();")
                    if (v['secondary_content'][2]['video'].length > 0)
                      div.video-bttn
                        img(src="#{tmg_cdn}/img/misc/play-#{v['secondary_content'][2]['button_white_or_black']}.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play-#{v['secondary_content'][2]['button_white_or_black']}.png?v=#{app_version}'")
                        //- div.tmg-trans-50.gradient.radial-gradient

                    if (v['secondary_content'][2]['title'].length > 0)
                      div.secondary-title
                        span(style="color:#{v['secondary_content'][2]['title_white_or_black']};")
                          | #{v['secondary_content'][2]['title']}
                        //- div.gradient.radial-gradient
                    if (v["secondary_text"].length > 0)
                      script(type="text/javascript").
                        var secImgA = new Image(); secImgA.class = 'video-frame-secondary'; secImgA.onload = function(){setSquImg(this);}; secImgA.src = '#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][2]['image']}.jpg?v=#{app_version}'; if (secImgA.complete) { setSquImg(secImgA); } document.getElementById('video-frame-secondary-a').appendChild(secImgA);
                else
                  div.clmn-lf-bg
              if ((v['secondary_layout'] == 'corner') || (v['secondary_content'][1]['image'].length == 0))
                div.col-lf.tmg-thmb.col-sm-8.clmn-md.video-player#video-frame-secondary-b(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][0]['video']}",data-video-hd="#{v['secondary_content'][0]['video']}")
                  if (v['secondary_content'][0]['video'].length > 0)
                    div.video-bttn
                      img(src="#{tmg_cdn}/img/misc/play-#{v['secondary_content'][0]['button_white_or_black']}.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play-#{v['secondary_content'][0]['button_white_or_black']}.png?v=#{app_version}'")
                      //- div.tmg-trans-50.gradient.radial-gradient
                  if (v['secondary_content'][0]['title'].length > 0)
                    div.secondary-title
                      span(style="color:#{v['secondary_content'][0]['title_white_or_black']};")
                        | #{v['secondary_content'][0]['title']}
                      //- div.gradient.radial-gradient
                  div.fader-block(onClick="TMG.fn.video.ended();")

                  script(type="text/javascript").
                    var secImgB = new Image(); secImgB.class = 'video-frame-secondary'; secImgB.onload = function(){setSquImg(this);}; secImgB.src = '#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][0]['image']}.jpg?v=#{app_version}'; if (secImgB.complete) { setSquImg(secImgB); } document.getElementById('video-frame-secondary-b').appendChild(secImgB);

              if ((v['secondary_layout'] == 'standard') && (v['secondary_content'][1]['image'].length > 0))
                div.col-lf.tmg-thmb.col-sm-4.clmn-md.video-player#video-frame-secondary-c(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][0]['video']}",data-video-hd="#{v['secondary_content'][0]['video']}")
                  if (v['secondary_content'][0]['video'].length > 0)
                    div.video-bttn
                      img(src="#{tmg_cdn}/img/misc/play-#{v['secondary_content'][0]['button_white_or_black']}.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play-#{v['secondary_content'][0]['button_white_or_black']}.png?v=#{app_version}'")
                      //- div.tmg-trans-50.gradient.radial-gradient
                  if (v['secondary_content'][0]['title'].length > 0)
                    div.secondary-title
                      span(style="color:#{v['secondary_content'][0]['title_white_or_black']};")
                        | #{v['secondary_content'][0]['title']}
                      //- div.gradient.radial-gradient

                  script(type="text/javascript").
                    var secImgC = new Image(); secImgC.class = 'video-frame-secondary'; secImgC.onload = function(){setSquImg(this);}; secImgC.src = '#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][0]['image']}.jpg?v=#{app_version}'; if (secImgC.complete) { setSquImg(secImgC); } document.getElementById('video-frame-secondary-c').appendChild(secImgC);
                  div.fader-block(onClick="TMG.fn.video.ended();")

                div.col-lf.tmg-thmb.col-sm-4.clmn-rt.video-player#video-frame-secondary-d(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][1]['video']}",data-video-hd="#{v['secondary_content'][1]['video']}")
                  if (v['secondary_content'][1]['video'].length > 0)
                    div.video-bttn
                      img(src="#{tmg_cdn}/img/misc/play-#{v['secondary_content'][1]['button_white_or_black']}.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play-#{v['secondary_content'][1]['button_white_or_black']}.png?v=#{app_version}'")
                      //- div.tmg-trans-50.gradient.radial-gradient
                  if (v['secondary_content'][1]['title'].length > 0)
                    div.secondary-title
                      span(style="color:#{v['secondary_content'][1]['title_white_or_black']};")
                        | #{v['secondary_content'][1]['title']}
                      //- div.gradient.radial-gradient

                  script(type="text/javascript").
                    var secImgD = new Image(); secImgD.class = 'video-frame-secondary'; secImgD.onload = function(){setSquImg(this);}; secImgD.src = '#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][1]['image']}.jpg?v=#{app_version}'; if (secImgD.complete) { setSquImg(secImgD); } document.getElementById('video-frame-secondary-d').appendChild(secImgD);
                  div.fader-block(onClick="TMG.fn.video.ended();")

            if (v['secondary_layout'] == 'corner')
              if ((v['secondary_content'][1]['image'].length > 0) && (v['secondary_content'][2]['image'].length > 0))
                div.row.page-video-bttm.page-video-bttm-row-2
                  
                  div.col-lf.tmg-thmb.col-sm-4.clmn-md.video-player#video-frame-secondary-e(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][2]['video']}",data-video-hd="#{v['secondary_content'][2]['video']}")
                    if (v['secondary_content'][2]['video'].length > 0)
                      div.video-bttn
                        img(src="#{tmg_cdn}/img/misc/play-#{v['secondary_content'][2]['button_white_or_black']}.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play-#{v['secondary_content'][2]['button_white_or_black']}.png?v=#{app_version}'")
                        //- div.tmg-trans-50.gradient.radial-gradient
                    if (v['secondary_content'][2]['title'].length > 0)
                      div.secondary-title
                        span(style="color:#{v['secondary_content'][2]['title_white_or_black']};")
                          | #{v['secondary_content'][2]['title']}
                        //- div.gradient.radial-gradient

                    script(type="text/javascript").
                      var secImgE = new Image(); secImgE.class = 'video-frame-secondary'; secImgE.onload = function(){setSquImg(this);}; secImgE.src = '#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][2]['image']}.jpg?v=#{app_version}'; if (secImgE.complete) { setSquImg(secImgE); } document.getElementById('video-frame-secondary-e').appendChild(secImgE);
                    div.fader-block(onClick="TMG.fn.video.ended();")

                  div.col-lf.tmg-thmb.col-sm-8.clmn-rt.video-player#video-frame-secondary-f(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][1]['video']}",data-video-hd="#{v['secondary_content'][1]['video']}")
                    if (v['secondary_content'][1]['video'].length > 0)
                      div.video-bttn
                        img(src="#{tmg_cdn}/img/misc/play-#{v['secondary_content'][1]['button_white_or_black']}.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play-#{v['secondary_content'][1]['button_white_or_black']}.png?v=#{app_version}'")
                        //- div.tmg-trans-50.gradient.radial-gradient
                    if (v['secondary_content'][1]['title'].length > 0)
                      div.secondary-title
                        span(style="color:#{v['secondary_content'][1]['title_white_or_black']};")
                          | #{v['secondary_content'][1]['title']}
                        //- div.gradient.radial-gradient

                    script(type="text/javascript").
                      var secImgF = new Image(); secImgF.class = 'video-frame-secondary'; secImgF.onload = function(){setSquImg(this);}; secImgF.src = '#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][1]['image']}.jpg?v=#{app_version}'; if (secImgF.complete) { setSquImg(secImgF); } document.getElementById('video-frame-secondary-f').appendChild(secImgF);
                    div.fader-block(onClick="TMG.fn.video.ended();")

              else if (v['secondary_content'][1]['image'].length > 0)
                div.row.page-video-bttm.page-video-bttm-row-2
                  div.col-lf.tmg-thmb.col-sm-12.clmn-md.video-player#video-frame-secondary-g(data-video-id="#{v['id']}",data-video-sd="#{v['secondary_content'][1]['video']}",data-video-hd="#{v['secondary_content'][1]['video']}")
                    if (v['secondary_content'][1]['video'].length > 0)
                      div.video-bttn
                        img(src="#{tmg_cdn}/img/misc/play-#{v['secondary_content'][1]['button_white_or_black']}.png?v=#{app_version}",onMouseOver="this.src='#{tmg_cdn}/img/misc/play-red.png?v=#{app_version}'",onMouseOut="this.src='#{tmg_cdn}/img/misc/play-#{v['secondary_content'][1]['button_white_or_black']}.png?v=#{app_version}'")
                        //- div.tmg-trans-50.gradient.radial-gradient
                    if (v['secondary_content'][1]['title'].length > 0)
                      div.secondary-title
                        span(style="color:#{v['secondary_content'][1]['title_white_or_black']};")
                          | #{v['secondary_content'][1]['title']}
                        //- div.gradient.radial-gradient
                    div.fader-block(onClick="TMG.fn.video.ended();")
     
                    script(type="text/javascript").
                      var secImgG = new Image(); secImgG.class = 'video-frame-secondary'; secImgG.onload = function(){setSquImg(this);}; secImgG.src = '#{tmg_static_cdn}/video/#{v['id']}/#{v['secondary_content'][1]['image']}.jpg?v=#{app_version}'; if (secImgG.complete) { setSquImg(secImgG); } document.getElementById('video-frame-secondary-g').appendChild(secImgG);





            